<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<title>Automation Nation</title>
	
	<meta charset="utf-8">
	
	<meta name="description" content="">
	<meta name="author" content="">

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,800">
	<link rel="stylesheet" href="/stylesheets/font-awesome.css">
	
	<link rel="stylesheet" href="/stylesheets/bootstrap.css">
	<link rel="stylesheet" href="/stylesheets/bootstrap-responsive.css">

	<link rel="stylesheet" href="./stylesheets/ui-lightness/jquery-ui-1.8.21.custom.css">	
	
	<link rel="stylesheet" href="/stylesheets/application.css">
	<link rel="stylesheet" href="/stylesheets/pages/dashboard.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/custom.css">

	<script src="/js/libs/modernizr-2.5.3.min.js"></script>

</head>

<body>
	
<div id="wrapper">
	
<div id="topbar">
	
	<div class="container">
		
		<a href="javascript:;" id="menu-trigger" class="dropdown-toggle" data-toggle="dropdown" data-target="#">
			<i class="icon-cog"></i>
		</a>
	
		<div id="top-nav">
			
			<ul class="pull-right">
				<li><a href="javascript:;"><i class="icon-user"></i> Logged in as John Doe</a></li>
				<li class="dropdown">
					<a href="./pages/settings.html" class="dropdown-toggle" data-toggle="dropdown">
						Settings						
						<b class="caret"></b>
					</a>
					
					<ul class="dropdown-menu pull-right">
						<li><a href="javascript:;">Settings #1</a></li>
						<li><a href="javascript:;">Settings #2</a></li>
						<li class="dropdown-submenu">
		                  <a tabindex="-1" href="#">Dropdown menu</a>
		                  <ul class="dropdown-menu">
		                    <li><a tabindex="-1" href="#">Logout</a></li>
		                    <li><a tabindex="-1" href="#">Second level link</a></li>
		                    <li><a tabindex="-1" href="#">Second level link</a></li>
		                  </ul>
		                </li>
					</ul> 
				</li>
			</ul>
			
		</div> <!-- /#top-nav -->
		
	</div> <!-- /.container -->
	
</div> <!-- /#topbar -->


	
	
<div id="header">
	
	<div class="container">

		<h4 id="logo"><span><img src="/img/logo.png"></span>  Automation Nation</h4>
		
		<a href="javascript:;" class="btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        	<i class="icon-reorder"></i>
      	</a>


      	
      	<div class="nav-collapse">
      		<ul id="main-nav" class="nav pull-right">
      			<li class="nav-icon active">
					<a href="./mission-doc">Mission</a>		
				</li>
      			<li class="nav-icon">
					<a href="./upcoming-features">Upcoming Features</a>		
				</li>
      			
      			
      			<li class="dropdown">					
      				<a href="/">
      					<i class="icon-external-link"></i>
      					<span>Logout</span> 
      					<b class="caret"></b>
      				</a>	  				
      			</li>
      		</ul>
      		
      	</div> <!-- /.nav-collapse -->


	</div> <!-- /.container -->
	
</div> <!-- /#header -->




{{{body}}}


</div> <!-- wrapper -->



<div id="footer">
		
	<div class="container">
		
		<div class="row" align="center">
			
				<h7>© 2017 Slumber Party</h7>

		</div> <!-- /row -->
		
	</div> <!-- /container -->
	
</div> <!-- /#footer -->





<script src="/js/libs/jquery-1.7.2.min.js"></script>
<script src="/js/libs/jquery-ui-1.8.21.custom.min.js"></script>
<script src="/js/libs/jquery.ui.touch-punch.min.js"></script>

<script src="/js/libs/bootstrap/bootstrap.min.js"></script>

<script src="/js/Theme.js"></script>
<script src="/js/Charts.js"></script>

<script src="/js/plugins/excanvas/excanvas.min.js"></script>
<script src="/js/plugins/flot/jquery.flot.js"></script>
<script src="/js/plugins/flot/jquery.flot.pie.js"></script>
<script src="/js/plugins/flot/jquery.flot.orderBars.js"></script>
<script src="/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
<script src="/js/plugins/flot/jquery.flot.resize.js"></script>

<script src="/js/demos/charts/line.js"></script>
<script src="/js/demos/charts/donut.js"></script>
<script type="text/javascript" src="/js/total-votes.js"></script>

<script>

$(function () {
	
	Theme.init ();
	
});

</script>

</body>
</html>