
<div id="masthead">
  
  <div class="container">
    
    <div class="masthead-pad">
      
      <div class="masthead-text">
        <h2>Automation Nation – Concept</h2>
      </div> <!-- /.masthead-text -->
      
    </div>
    
  </div> <!-- /.container --> 
  
</div> <!-- /#masthead -->
<br>
<br>


<div id="mission-wrapper">
	<br><br>
	<div>
		The United States was founded on the basic principles of a Government that was “Of the People”, “For the People” and “By the People”. A Government where it’s Citizens were equal and could persue individual dreams, while free to worship any Religion. It was established as a System providing Citizen representation through Elected Officials. Elected Officials who were voted in to a position to legally serve Citizens in their respective Districts.
		<br><br>
		In the beginning, some 250 years ago, communication was slow and required physical attendance at a central location by the Elected Official to cast a vote, which represented the Citizens of the District that elected them, on proposed legislation. In the years since inception, this protocol has not changed. Elected Officials, continue to physically attend voting sessions in a central location (Washington DC).
		<br><br>
		As the Country grew, more legislation was proposed, voted on and enacted. As the volume of legislation increased the transparency of the legislation Voting Process began to cloud where the Citizens lost perspective of what was being proposed, voted on and enacted. Outside influence peddling of the Elected Officials began to be accepted to a point where it is considered “common place , generally “acceptable” and in some cases “justified”. This brings us to current day when most Citizens have no idea of what legislation their Elected Officials are voting on, how they voted, the Elected Officials motivation or the impact on the Citizens of our great Nation.
		<br>,br>
		To this current situation, Our development group asks: “Does This 250 year old process need to continue?”, “Can it be improved to give more information and control back to the Citizens?”, “Can influence peddling of Elected Officials be minimized?”, “Can unnecessary Legislation be minimized?”, “Can we minimize the need for so many Elected Officials ?”, and finally “Can we “self govern” through majority votes ?”.
		<br><br>
		We propose through the development of this class project to create Technology as a “Proof of Concept” and a ”Political and Social Experiment” to determine whether a 21rst Century Voting Platform could answer the above questions, improve the basic governing, and layout a modern foundation for The United States of America to continue to exist and succeed for future generations.
		<br><br>
		In the end, we are politically neutral and would establish this platform as to observe the outcome if Citizens had the information and direct voting power as opposed to Elected Officials.
		<br><br><br>
	</div>
</div>