
<div id="masthead">
  
  <div class="container">
    
    <div class="masthead-pad">
      
      <div class="masthead-text">
        <h2>Upcoming Features</h2>
      </div> <!-- /.masthead-text -->
      
    </div>
    
  </div> <!-- /.container --> 
  
</div> <!-- /#masthead -->
<br>
<br>
<div id="mission-wrapper">

<h2>Stay tuned for more features that will include:</h2>

	<ul>
		<li>-Categories for legislation types and the ability to rate politicians based on this data.</li>
		<li>-Isolated instances of government styles to simulate different systems.</li>
		<li>-Additional media links supporting description of the legislation.</li>
		<li>-Detailed location data of the constituents districts and states.</li>
		<li>-Detailed graphs of politician vs constituency voting results.</li>
		<li>-A central newsfeed to display relevant current events.</li>
	</ul>
</div>
