<form action="/submit_feedback" method="POST">
    <div class="form-group">
        <label>Are you of sound mind, and able to provide feedback that accurately portrays your views?</label>
        <input type="radio" name="drunk_check">Yes</input>
        <input type="radio" name="drunk_check">No</input>
    </div>
    <br>
    <div class="form-group">
        <label>What is your opinion</label>
        <input type="radio" name="voter_choice">Yes</input>
        <input type="radio" name="voter_choice">No</input>
    </div>
    <br>
    <div class="form-group">
        <input type="submit">
    </div>
</form>