<div class="account-container login stacked">

    <div class="content clearfix">



            <h1>Automation Nation Sign In</h1>

            <div class="login-fields">

                <p>Sign in using your registered User ID:</p>

                <div class="field">
                    <label for="userID">User ID:</label>
                    <input type="text" id="userId" name="userId" value="" placeholder="User ID" class="login user-id-field" />
                </div> <!-- /field -->

                <div class="field">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" value="" placeholder="Password" class="login password-field"/>
                </div> <!-- /password -->

             <!-- /password -->

            </div> <!-- /login-fields -->

            <div class="login-actions">
                <a href="/voters"><button class="button btn btn-primary">Sign In as Voter</button></a>
                <a href="/politicians"><button class="button btn btn-primary">Sign In as Politician</button></a>
            </div> <!-- .actions -->

            <div class="login-social">
                <p>Sign in using social network:</p>

                <div class="twitter">
                    <a href="#" class="btn_1">Login with Twitter</a>
                </div>

                <div class="fb">
                    <a href="#" class="btn_2">Login with Facebook</a>
                </div>
            </div>


    </div> <!-- /content -->

</div> <!-- /account-container -->


<!-- Text Under Box -->
<div class="login-extra">
    Don't have an account? <a href="./register">Sign Up</a><br/>
    Remind <a href="#">Password</a>
</div> <!-- /login-extra -->